- if (everyauth.google)
  #messages

  #message-box
    form#message
      textarea(name="message", id="message-text", cols='79', autofocus="true")
      br
      input#message-update-button(type="submit", value="Update", class="button")
